<section id="about">
  <div class="about-container container">
    <img
      src="./image/crystal-blue.png"
      alt="decoration-icon-blue"
      class="decoration-icon-blue"
    />
    <img
      src="./image/crystal-pink.png"
      alt="decoration-icon-pink"
      class="decoration-icon-pink"
    />
    <img
      src="./image/crystal-green.png"
      alt="decoration-icon-green"
      class="decoration-icon-green"
    />
    <div class="about-text">
      <h2 class="about-title">About the Game</h2>
      <p class="about-p">
        Taylor's Secret: Merge Story invites you to an engaging adventure of
        mystery and discovery. Merge items to restore Taylor’s family estate and
        unlock clues that reveal her hidden legacy. Solve puzzles, interact with
        fascinating characters, and rebuild a once-thriving town while unveiling
        Taylor’s secret.
      </p>
    </div>
  </div>
</section>
