<section id="faq" class="container">
  <div class="faq-title-container">
    <h2 class="faq-title">Frequently Asked Questions</h2>
  </div>
  <ul class="accordion">
    <li class="question-element">
      <div class="question-box">
        <h3 class="question">Is Taylor's Secret free to play?</h3>
        <div class="toggle-icon">
          <img class="icon" src="/image/plus.png" alt="Plus Icon" />
        </div>
        <div class="answer">
          <p class="answer-text">
            Yes, the game is free with optional in-app purchases.
          </p>
        </div>
      </div>
    </li>
    <li class="question-element">
      <div class="question-box">
        <h3 class="question">Can I play offline?</h3>
        <div class="toggle-icon">
          <img class="icon" src="/image/plus.png" alt="Plus Icon" />
        </div>
        <div class="answer">
          <p class="answer-text">
            Yes, you can enjoy the game even without an internet connection.
          </p>
        </div>
      </div>
    </li>
    <li class="question-element">
      <div class="question-box">
        <h3 class="question">What types of items can I merge?</h3>
        <div class="toggle-icon">
          <img class="icon" src="/image/plus.png" alt="Plus Icon" />
        </div>
        <div class="answer">
          <p class="answer-text">
            You’ll merge a variety of thematic items like heirlooms, tools, and
            mysterious artifacts.
          </p>
        </div>
      </div>
    </li>
    <li class="question-element">
      <div class="question-box">
        <h3 class="question">How often is new content added?</h3>
        <div class="toggle-icon">
          <img class="icon" src="/image/plus.png" alt="Plus Icon" />
        </div>
        <div class="answer">
          <p class="answer-text">
            Regular updates include fresh levels, story chapters, and events.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
