<footer class="container footer">
  <div class="footer-container">
    <img
      class="footer-image"
      src="./image/footer.png"
      alt="Taylor's Secret image"
    />
    <div class="footer-text-container">
      <h2 class="footer-title">Help Taylor uncover her secret today!</h2>
      <a
        href="https://play.google.com/store/search?q=taylor%20secret&c=apps"
        class="google-play-button"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./image/google-play.png"
          alt="Google Play Icon"
          class="google-play"
        />
        <div>
          <span class="download-text">Download Now</span>
          <span class="google-play-text">Google Play</span>
        </div>
      </a>
    </div>
  </div>

  <div class="footer-police-container">
    <p class="footer-text">©2024 WinFusionQuest.com, All Rights Reserved.</p>
    <div class="police-container">
      <a href="./privacy.html" class="footer-btn">Privacy Policy</a>
      <a href="./terms.html" class="footer-btn">Terms of Conditions</a>
    </div>
  </div>
</footer>
