<section id="gallery" class="container">
  <h2 class="gallery-title">Gallery</h2>
  <div class="gallery">
    <!-- Перше велике фото -->
    <div class="large-photo photo-1">
      <img src="./image/gallery-1.png" alt="photo-1" />
    </div>
    <!-- Друге велике фото -->
    <div class="large-photo photo-2">
      <img src="./image/gallery-2.png" alt="photo-2" />
    </div>
    <!-- Маленькі фото -->
    <div class="small-photos">
      <div class="small-photo photo-3">
        <img src="./image/gallery-3.png" alt="photo-3" />
      </div>
      <div class="small-photo photo-4">
        <img src="./image/gallery-4.png" alt="photo-4" />
      </div>
    </div>
  </div>
</section>
