<header class="header container">
  <nav class="nav-container">
    <ul class="nav-menu">
      <li><a class="nav-link" href="#">Home</a></li>
      <li><a class="nav-link" href="#">Meet Taylor</a></li>
      <li><a class="nav-link" href="#">About the Game</a></li>
      <li><a class="nav-link" href="#">How to Play</a></li>
      <li><a class="nav-link" href="#">Why Choose This Game?</a></li>
    </ul>
    <img
      class="logo"
      src="../image/logo.png"
      alt="Taylor's Secret Logo"
      width="185"
      height="82"
    />
    <ul class="nav-menu">
      <li><a class="nav-link" href="#">Benefits</a></li>
      <li><a class="nav-link" href="#">Unique Features</a></li>
      <li><a class="nav-link" href="#">Gallery</a></li>
      <li><a class="nav-link" href="#">FAQ</a></li>
      <li><a class="nav-link" href="#">Reviews</a></li>
    </ul>
  </nav>
</header>
