<header class="header container">
  <nav class="nav-container">
    <ul class="nav-menu">
      <li><a class="nav-link" href="#">Home</a></li>
      <li><a class="nav-link" href="#meet-taylor">Meet Taylor</a></li>
      <li><a class="nav-link" href="#about">About the Game</a></li>
      <li><a class="nav-link" href="#how-to-play">How to Play</a></li>
      <li>
        <a class="nav-link" href="#why-choose-this-game"
          >Why Choose This Game?</a
        >
      </li>
    </ul>
    <img
      class="logo"
      src="./image/logo.png"
      alt="Taylor's Secret Logo"
      width="185"
      height="82"
    />
    <button class="menu-toggle" type="button" class="menu-toggle">
      <img class="menu-icon" src="./image/cross-menu.png" alt="Menu Icon" />
    </button>
    <ul class="nav-menu">
      <li><a class="nav-link" href="#benefits">Benefits</a></li>
      <li><a class="nav-link" href="#features">Unique Features</a></li>
      <li><a class="nav-link" href="#gallery">Gallery</a></li>
      <li><a class="nav-link" href="#faq">FAQ</a></li>
      <li><a class="nav-link" href="#reviews">Reviews</a></li>
    </ul>
  </nav>

  <nav class="mobile-menu">
    <ul class="nav-menu-mobile">
      <li><a class="nav-link" href="#">Home</a></li>
      <li><a class="nav-link" href="#meet-taylor">Meet Taylor</a></li>
      <li><a class="nav-link" href="#about">About the Game</a></li>
      <li><a class="nav-link" href="#benefits">Benefits</a></li>
      <li><a class="nav-link" href="#features">Unique Features</a></li>
      <li><a class="nav-link" href="#gallery">Gallery</a></li>
      <li><a class="nav-link" href="#how-to-play">How to Play</a></li>
      <li>
        <a class="nav-link" href="#why-choose-this-game"
          >Why Choose This Game?</a
        >
      </li>
      <li><a class="nav-link" href="#faq">FAQ</a></li>
      <li><a class="nav-link" href="#reviews">Reviews</a></li>
    </ul>
    <div class="police-mobile">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Conditions</a>
    </div>
  </nav>
</header>
