<section id="hero" class="container">
  <div class="banner">
    <div class="text-content">
      <h1 class="title-cont">
        Taylor's <span class="highlight">Secret:</span> Merge Story
      </h1>
      <p>Unravel secrets, merge to restore, and uncover the truth!</p>
      <a
        href="https://play.google.com/store/search?q=taylor%20secret&c=apps"
        class="google-play-button"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./image/google-play.png"
          alt="Google Play Icon"
          class="google-play"
        />
        <div>
          <span class="download-text">Download Now</span>
          <span class="google-play-text">Google Play</span>
        </div>
      </a>
    </div>
    <div class="image-content">
      <img
        src="./image/image.png"
        alt="Taylor's Secret Game"
        class="game-image"
      />
    </div>
  </div>
</section>
