<section id="how-to-play">
  <div class="container how-to-play-container">
    <h2 class="how-to-play-highlight">How to Play</h2>
    <div class="instructions">
      <div class="instruction-box-blue">
        <h3 class="instruction-box-title">Merge Items</h3>
        <p class="instruction-box-text">
          Combine matching items to unlock new tools and resources
        </p>
      </div>
      <div class="instruction-box-white">
        <h3 class="instruction-box-title">Solve Puzzles</h3>
        <p class="instruction-box-text">
          Use merged items to complete challenges and progress the story
        </p>
      </div>
      <div class="instruction-box-green">
        <h3 class="instruction-box-title">Unlock Secrets</h3>
        <p class="instruction-box-text">
          Restore buildings and uncover hidden clues about Taylor’s pas
        </p>
      </div>
      <div class="instruction-box-pink">
        <h3 class="instruction-box-title">Interact with Characters</h3>
        <p class="instruction-box-text">
          Gain insights and help from the quirky townsfolk
        </p>
      </div>
    </div>
    <div class="how-to-play-image-container">
      <img
        class="how-to-play-image"
        src="./image/how-to-play.png"
        alt="Game Scene"
      />
    </div>
  </div>
</section>
