<section id="meet-taylor">
  <div class="meet-taylor-container container">
    <div class="meet-box">
      <img src="../image/taylor.png" alt="Taylor" class="about-image" />
      <h2 class="meet-title">Meet Taylor</h2>
    </div>
    <div class="meet-text">
      <p>
        Taylor is a curious and determined young woman who returns to her quaint
        hometown to uncover the truth behind her family's secrets. With her
        sharp intellect and kind heart, Taylor embarks on a journey of mystery
        and restoration. As players guide her through merging challenges,
        they’ll discover hidden layers of her personality, from her love for art
        to her passion for solving puzzles.
      </p>
    </div>
  </div>
</section>
