#about {
  margin-top: 120px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.decoration-icon-blue {
  position: absolute;
  top: 80px;
  left: 145px;
  width: 92px;
  height: 92px;
  z-index: 0;
}

.decoration-icon-pink {
  position: absolute;
  bottom: -12px;
  right: 159px;
  width: 126px;
  height: 127px;
  z-index: 0;
}

.decoration-icon-green {
  position: absolute;
  top: -33px;
  right: 81px;
  width: 93px;
  height: 94px;
  z-index: 0;
}

.decoration-icon-green:hover,
.decoration-icon-pink:hover,
.decoration-icon-blue:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.about-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 12px 24px;
  width: 318px;
  height: 70px;
  transform: rotate(4deg);
  font-family: 'Lilita One', sans-serif;
  color: #0b1215;
  background-color: #eeabc4;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.2;

  margin-left: 336px;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 40px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  max-width: 648px;
}

@media (min-width: 320px) and (max-width: 1199px) {
  #about {
    width: 288px;
    margin-top: 80px;
    margin: 0 auto;
  }

  .decoration-icon-blue {
    top: 242px;
    left: 66px;
    width: 46px;
    height: 46px;
  }

  .decoration-icon-pink {
    bottom: -46px;
    right: 254px;
    width: 50px;
    height: 50px;
  }

  .decoration-icon-green {
    top: -53px;
    right: 16px;
    width: 52px;
    height: 53px;
  }

  .about-title {
    border-radius: 16px;
    padding: 8px 12px;
    width: 186px;
    height: 43px;

    transform: rotate(4deg);
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
  }

  .about-text {
    align-items: center;
  }

  .about-p {
    font-size: 16px; 
    line-height: 1.3; 
    width: 288px;
  }
}
