#benefits {
  margin-top: 120px;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.upper-row {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.left-boxes {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}

.title-box,
.arrow-box {
  border-radius: 24px;
  padding: 40px;
  width: 424px;
  height: 90px;
  display: flex; /* Додаємо flexbox */
  align-items: center; /* Вирівнюємо по вертикалі */
  justify-content: center; /* Вирівнюємо по горизонталі */
}

.title {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #0b1215; /* Додано символ # для коректного кольору */
}

.title-box {
  background-color: #91ba78;
}

.arrow-box {
  border: 1px solid #0b1215;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  width: 242px;
  height: 60px;
}

.benefit-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 24px;
  padding: 40px;
  width: 424px;
  height: 204px;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.benefit-box h3 {
  font-weight: 700;
  font-size: 24px;
  color: 0B1215;
  line-height: 1.2;
  margin-bottom: 8px;
}

.benefit-box p {
  font-weight: 400;
  font-size: 24px;
}

/* Кольори для кожного квадрата */
.box2 {
  background-color: #eeabc4;
}

.box3 {
  background-color: #9dc4ea;
}

.box4 {
  background-color: #9dc4ea;
}

.box5 {
  border: 1px solid #0b1215;
  border-radius: 24px;
  padding: 40px;
  width: 424px;
  height: 204px;
}

.box6 {
  background-color: #91ba78;
}
@media (min-width: 320px) and (max-width: 1200px) {
  #benefits {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .benefits-container {
    gap: 16px;
  }

  .upper-row {
    flex-direction: column; /* Елементи розташовуються вертикально */
    gap: 16px;
  }

  .arrow-box {
    display: none; /* Приховуємо arrow-box */
  }
  .title-box {
    border-radius: 16px;
    padding: 24px;
    width: 288px;
    height: 75px;
  }
  .title {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }

  .benefit-box {
    border-radius: 16px; /* Новий радіус */
    padding: 24px; /* Новий внутрішній відступ */
    width: 288px; /* Нова ширина */
    height: 75px; /* Висота для benefit-box */
    box-shadow: none; /* Якщо потрібна тінь — залишити */
  }

  .box2,
  .box3,
  .box4,
  .box5,
  .box6 {
    border-radius: 16px;
    padding: 24px;
    width: 288px;
    height: 136px;
  }

  .benefits-grid {
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 16px; /* Зменшений відступ між блоками */
  }

  .benefit-box h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .benefit-box p {
    font-weight: 400;
    font-size: 16px;
  }
}
