#features {
  margin-top: 120px;
  background-image: url('../image/Rectangle.png'); /* Зображення на фон */
  width: 1200px;
  height: 658px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 82px;
  padding-bottom: 120px;
}
.features-container {
  width: 1200px;
  margin: 0 auto;
}

.unique-features {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  width: 1120px;
  background-size: cover;
}

.features-title {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 32px;
}

.feature {
  display: flex;
  align-items: center; /* Горизонтальне вирівнювання елементів */
  gap: 10px; /* Відстань між елементами */
  border-bottom: 1px solid #0b1215;
  padding: 0px 0px 32.5px 0px;
  height: 70px;
}

.number {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #ffd685;
  margin-right: 40px;
}

.f-title {
  font-weight: 700;
  font-size: 24px;
  width: 212px;
  line-height: 121%;
  text-align: start;
}

.description {
  font-weight: 400;
  font-size: 20px;
  margin-left: 40px;
  text-align: left;
}

@media (min-width: 320px) and (max-width: 1199px) {
  .features-container {
    width: 320px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  #features {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 37px;
    padding-bottom: 56px;
    background-image: url('../image/bg.png');
    width: 320px;
    height: 512px;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
  }

  .features-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .unique-features {
    gap: 20px;
    width: 288px;
  }

  .feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Цифра і заголовок в одному рядку */
    justify-content: left;
    gap: 10px;
    padding: 0;
    width: 288px;
    border-bottom: none;
  }

  .number {
    font-size: 24px;
    margin-right: 10px; /* Відстань між цифрою і заголовком */
  }

  .f-title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
  }

  .description {
    font-size: 16px;
    margin-left: 0; /* Прибираємо лівий відступ на мобільних */
    font-weight: 400;
    width: 288px; /* Займає всю ширину для опису */
    text-align: left;
    text-wrap: wrap; /* Вирівнюємо текст по лівому краю */
    border-bottom: 1px solid #0b1215;
  }
}
