@media screen and (min-width: 320px) and (max-width: 1199px) {
  .nav-container {
    position: relative;
    width: 288px;
    background-color: #fff8eb;
    border-radius: 16px;
    border: 1px solid #0b1215;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu a {
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 24px;
    color: #0b1215;
  }

  .nav-menu a:hover {
    color: #e67e22;
  }

  .logo {
    width: 90.09px;
    cursor: pointer;
  }

  .open-menu-btn {
    border: none;
    background-color: #fff8eb;
  }

  .cross-image {
    width: 24px;
    height: 24px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .header.expanded {
    width: 288px;
    background-color: #fff8eb;
    border-radius: 16px;
    border: 1px solid #0b1215;
    padding: 0;
    transition: 250ms ease;
  }

  .nav-container.expanded {
    border: none;
    margin-top: 0;
    width: 286px;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    background-color: #fff8eb;
  }

  .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
  }

  .menu-icon,
  .menu-icon::before,
  .menu-icon::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #0b1215;
    height: 2px;
    width: 19px;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu-icon {
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-icon::before {
    top: -6px;
  }
  
  .menu-icon::after {
    top: 6px;
  }

  .menu-toggle.expanded .menu-icon {
    background-color: transparent;
  }
  
  .menu-toggle.expanded .menu-icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .menu-toggle.expanded .menu-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav-menu-mobile {
    display: none;
  }

  .nav-menu-mobile.expanded {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 0 16px;
    margin-top: 32px;
    font-weight: 500;
    background-color: #fff8eb;
  }

  .police-mobile {
    display: none;
  }

  .police-mobile.expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 122px;
    margin-bottom: 12px;
    padding: 0;
  }

  .menu-icon {
    transition: transform 250ms ease;
  }

  .menu-toggle:active .menu-icon {
    transform: rotate(120deg);
    transition: transform 250ms ease;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .nav-container {
    width: 1120px;
    margin-top: 32px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border: 1px solid #0b1215;
    border-radius: 24px;
    background-color: #fff8eb;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 429px;
    height: 82px;
    gap: 32px;
  }

  .nav-menu a {
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    color: #0b1215;
  }

  .nav-menu a:hover {
    color: #e67e22;
  }

  .logo {
    width: 184px;
    margin: 0 23.67px;
  }

  .nav-menu-mobile {
    display: none;
  }

  .police-mobile {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

}
