.banner {
  display: flex;
  border-radius: 10px;
}

.text-content {
  width: 536px;
  margin-right: 24px;
}
.title-cont {
  height: 188px;
  color: #0b1215;
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 32px;
}

.highlight {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 24px;
  transform: rotate(-4deg);
  font-family: 'Lilita One', sans-serif;
  color: #0b1215;
  background-color: #eeabc4;
  text-align: center;

  word-wrap: break-word;
  line-height: 1.2;
  margin-bottom: 20px;
  z-index: 1; /* Низький z-index для спану */
  position: relative; /* Необхідно для роботи z-index */
}

.text-content p {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 102px;
  width: 312px;
  line-height: 1.2;
}

.google-play-button {
  display: flex;
  align-items: center; /* Центруємо значок і текст по вертикалі */
  border: 1px solid #0b1215;
  border-radius: 8px;
  padding: 12px 24px;
  width: 312px;
  height: 91px;
  background-color: #ffd685;
  text-decoration: none; /* Прибираємо підкреслення */
}

.google-play {
  width: 54px;
  height: 61px;
  margin-right: 10px; /* Відступ між значком і текстом */
}

.google-play-button div {
  display: flex;
  flex-direction: column; /* Розташовуємо текст в стовпчик */
  align-items: flex-start; /* Вирівнюємо текст по лівому краю */
}

.download-text {
  font-weight: 400;
  font-size: 20px;
}

.google-play-text {
  font-weight: 600;
  font-size: 32px;
  margin-top: 4px; /* Відступ між двома текстами */
}

.game-image {
  max-width: 760px; /* Фіксована ширина */
  height: 500px; /* Фіксована висота */
}

@media (min-width: 320px) and (max-width: 1200px) {
  .banner {
    display: flex;
    flex-direction: column-reverse; /* Змінюємо порядок елементів */
    align-items: center;
    border-radius: 8px;
    width: 320px;
  }

  .game-image {
    border-radius: 16px;
    width: 288px;
    height: 190px;

    margin-bottom: 20px; /* Відступ між фото і текстом */
  }

  .text-content {
    width: 288px; /* Розтягуємо текст на всю ширину */
    margin: 0;
  }

  .title-cont {
    width: 288px;
    height: 103px;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 16px;
    line-height: 1;
    letter-spacing: -0.2px;
  }

  .highlight {
    display: inline-block;
    font-weight: 400;
    font-size: 40px;
    border-radius: 16px;
    padding: 4px 12px;
    width: 143px;
    height: 54px;
    margin-bottom: 0;
    line-height: 1;
  }

  .text-content p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    width: 288px;
  }

  .google-play-button {
    width: 100%; /* Повна ширина кнопки */
    height: auto;
    padding: 12px 16px;
  }

  .google-play {
    width: 54px; /* Менший значок */
    height: 61px;
    margin-right: 16px;
  }

  .google-play-button div {
    align-items: left;
  }

  .download-text {
    font-weight: 400;
    font-size: 16px;
  }

  .google-play-text {
    font-weight: 600;
    font-size: 24px;
  }
}
