@media screen and (max-width: 1199px) {
  .how-to-play-container {
    position: relative;
  }

  .instructions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    width: 288px;
  }

  .instruction-box-blue {
    background-color: #9dc4ea;
    border-radius: 16px;
    padding: 24px;
    width: 288px;
    height: 136px;
  }

  .instruction-box-white {
    border: 1px solid #0b1215;
    border-radius: 16px;
    padding: 24px;
    width: 288px;
    height: 136px;
  }

  .instruction-box-green {
    background-color: #91ba78;
    border-radius: 16px;
    padding: 24px;
    width: 288px;
    height: 136px;
  }

  .instruction-box-pink {
    background-color: #eeabc4;
    border-radius: 16px;
    padding: 24px;
    width: 288px;
    height: 136px;
    margin-bottom: 16px;
  }

  .instruction-box-title {
    text-align: start;
    font-weight: 700;
    font-size: 16px;
    color: #0b1215;
    margin-bottom: 8px;
  }

  .instruction-box-text {
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    line-height: 20px
  }

  .how-to-play-image-container {
    position: initial;
  }

  .how-to-play-image {
    border-radius: 24px;
    width: 288px;
    height: 293px;
  }

  .how-to-play-highlight {
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    margin-left: 70px;
    transform: rotate(-4deg);
    background-color: #ffd685;
    border-radius: 16px;
    width: 146px;
    height: 43px;
  }
}

@media screen and (min-width: 1200px) {
  .how-to-play-container {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .instructions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 739px;
    height: 432px;
  }

  .instruction-box-blue {
    background-color: #91ba78;
    border-radius: 24px;
    padding: 40px;
    width: 357px;
    height: 204px;
  }

  .instruction-box-white {
    border-radius: 24px;
    padding: 40px;
    width: 357px;
    height: 204px;
    border: 1px solid #0b1215;
    border-radius: 24px;
  }

  .instruction-box-green {
    background-color: #9dc4ea;
    border-radius: 24px;
    padding: 40px;
    width: 357px;
    height: 204px;
  }

  .instruction-box-pink {
    border-radius: 24px;
    padding: 40px;
    width: 357px;
    height: 204px;
    margin-bottom: 0;
    background-color: #eeabc4;
  }

  .instruction-box-title {
    font-size: 24px;
  }

  .instruction-box-text {
    font-size: 20px;
    line-height: 29px
  }

  .how-to-play-image {
    width: 357px;
    height: 432px;
  }

  .how-to-play-highlight {
    font-family: "Lilita One", sans-serif;
    position: absolute;
    font-size: 39px;
    margin-left: 239px;
    margin-top: -50px;
    border-radius: 24px;
    width: 251px;
    height: 75px;
    padding: 16.14px 24.95px;
    background-color: #ffd685;
    transform: rotate(-4deg);
  }
}
