.police-container {
  width: 288px;
}

.icon-arrow-small {
  margin-right: 16px;
}

.container {
  padding-right: 22px;
}

.privacy-policy-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 32px;
}

.privacy-policy-intro {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.policy-section {
  width: 1320px;
}

.section-title {
  margin-top: 32px;
  margin-bottom: 16px;
}

.police-text {
  width: 1320px;
  font-weight: 400;
  font-size: 24px;
  text-wrap: wrap;
  margin-bottom: 32px;
}

.police-item-text {
  font-weight: 400;
  font-size: 24px;
}

.info-list {
  width: 1320px;
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 32px;
}

.police-link {
  font-weight: 400;
  font-size: 24px;
  list-style: disc;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4285f4;
  margin-left: 32px;
}

.police-link::marker {
  color: #0b1215;
}

.third-party {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.opt-text {
  font-weight: 400;
  font-size: 24px;
}

.children-text {
  font-size: 24px;
  margin-bottom: 32px;
}

.contact-us-section {
  margin-bottom: 80px;
}
