.banner {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  border-radius: 10px;
}

.text-content {
  width: 536px;
  margin-right: 24px;
}
.title-cont {
  height: 188px;
}
.text-content h1 {
  color: #0b1215;
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 32px;
}

.highlight {
  display: inline-flex; /* Використовуємо flex для вирівнювання тексту по центру */
  justify-content: center; /* Центруємо текст по горизонталі */
  align-items: center; /* Центруємо текст по вертикалі */
  padding: 12px 24px; /* Відступи: зверху і знизу 12px, справа і зліва 24px */
  border-radius: 24px; /* Закруглені кути */
  transform: rotate(-4deg); /* Нахил на 4 градуси вниз */

  font-family: 'Lilita One', sans-serif;
  color: #0b1215;
  background-color: #eeabc4;
  text-align: center; /* Вирівнювання тексту всередині */
  white-space: normal; /* Дозволяє тексту переноситися на нові рядки */
  word-wrap: break-word; /* Розбиває слова, якщо вони не вміщуються */
  line-height: 1.2; /* Збільшуємо міжрядковий інтервал для кращого вирівнювання */
  margin-bottom: 20px; /* Додаємо відступ знизу, щоб уникнути накладання */
}

.text-content p {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 102px;
  width: 312px;
  line-height: 1.2;
}

.google-play-button {
  display: flex;
  align-items: center; /* Центруємо значок і текст по вертикалі */
  border: 1px solid #0b1215;
  border-radius: 8px;
  padding: 12px 24px;
  width: 312px;
  height: 91px;
  background-color: #ffd685;
  text-decoration: none; /* Прибираємо підкреслення */
}

.google-play {
  width: 54px;
  height: 61px;
  margin-right: 10px; /* Відступ між значком і текстом */
}

.google-play-button div {
  display: flex;
  flex-direction: column; /* Розташовуємо текст в стовпчик */
  align-items: flex-start; /* Вирівнюємо текст по лівому краю */
}

.download-text {
  font-weight: 400;
  font-size: 20px;
}

.google-play-text {
  font-weight: 600;
  font-size: 32px;
  margin-top: 4px; /* Відступ між двома текстами */
}

.game-image {
  max-width: 760px; /* Фіксована ширина */
  height: 500px; /* Фіксована висота */
}
