#meet-taylor {
  margin-top: 120px;
}

.meet-taylor-container {
  display: flex; /* Використовуємо Flexbox для розміщення в рядок */
  gap: 24px; /* Відступ між блоками */
}

.meet-box {
  display: flex;
  justify-content: flex-start; /* Горизонтальне вирівнювання: текст буде ліворуч від фото */
  background-color: #91ba78;
  border-radius: 24px;
  width: 536px;
  height: 340px;
  position: relative; /* Для абсолютного позиціонування заголовка */
}

.about-image {
  width: 300px;
  height: 339px;
  object-fit: cover;
  margin-left: 160px;
}

.meet-title {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #000;
  width: 206px;
  position: absolute; /* Абсолютне позиціонування, щоб накривати зображення */
  top: 48px; /* Відступ від верхнього краю */
  left: 48px; /* Відступ зліва */
  white-space: nowrap; /* Текст не буде переноситись */
  z-index: 2; /* Заголовок поверх зображення */
}

.meet-text {
  border-radius: 24px;
  padding: 54px 56px;
  width: 760px;
  height: 340px;
  background-color: #9dc4ea;
}

.meet-text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  width: 648px;
}

@media (min-width: 320px) and (max-width: 1399px) {
  #meet-taylor {
    margin-bottom: 80px;
    margin-top: 81px;
  }

  .meet-taylor-container {
    display: flex;
    flex-direction: column; /* Вертикальне розташування блоків */
    gap: 16px; /* Менший відступ між блоками */

    .meet-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: #91ba78;
      border-radius: 16px;
      width: 288px;
      height: 183px;

      position: relative;
    }

    .about-image {
      width: 162px;
      height: 183px;
      object-fit: cover;
      margin-left: 98px;
      border-radius: 8px;
    }

    .meet-title {
      font-size: 24px;
      top: 16px;
      left: 16px;
      width: auto;
      white-space: normal;
      line-height: 1.2;
    }

    .meet-text {
      border-radius: 16px;
      padding: 24px;
      width: 288px;
      height: 348px;
      background-color: #9dc4ea;
    }

    .meet-text p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      width: 240px;
    }
  }
}
