#reviews {
  margin-top: 120px;
  text-align: center; /* Center title */
  margin-bottom: 120px;
}

.review-title {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #0b1215;
  margin-bottom: 32px;
  max-width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.review-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  height: 396px;
}

.review-box {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 40px;
}

.box-1 {
  width: 548px;
  height: 186px;
  background-color: #9dc4ea; /* Light blue */
}

.box-2 {
  width: 548px;
  height: 186px;
  background-color: white;
  border: 1px solid #0b1215;
}

.box-3 {
  width: 548px;
  height: 186px;
  background-color: #91ba78; /* Light green */
}

.box-4 {
  width: 548px;
  height: 186px;
  background-color: #eeabc4; /* Light pink */
}

.reviewer-name {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between; /* Align reviewer name and icon horizontally */
  align-items: center;
}

.quote {
  width: 40px; /* Set a fixed width for the icon */
  height: auto;
}

.review-text {
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px; /* Adds space between review text and reviewer name */
  text-align: start; /* Center the review text */
  line-height: 1.2;
}

@media screen and (max-width: 1199px) {
  #reviews {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .review-container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: 288px;
  }

  .review-box {
    border-radius: 24px;
    padding: 24px;
    width: 288px;
    height: 140px;
    margin-bottom: 16px;
  }
  .box-4 {
    margin-bottom: 0;
  }

  .review-text {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
  .reviewer-name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .review-title {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px; /* Reduce margin for mobile */
  }
  .quote {
    width: 20px;
  }
}
