@import './reset.scss';
@import './header.scss';
@import './hero.scss';
@import './meet-taylor.scss';
@import './about.scss';
@import './benefits.scss';
@import './features.scss';
@import './gallery.scss';
@import './how-to-play.scss';
@import './why-choose-this-game.scss';
@import './faq.scss';
@import './reviews.scss';
@import './footer.scss';

:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Lilita One', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff8eb;
  color: #242424;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}
